:host {
  font-size: smaller;
  color: red;
  margin-bottom: 5px;
}

:host.invisible {
  display: none;
}

ul {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;

  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
}