<std-form [formGroup]="form" [debug]="false">
	<std-input [formControl]="firstName" label="First name">
		<ng-template std-error="required">
			Custom required error message
		</ng-template>
		<ng-template std-error="startsWithCapitalLetter">
			First character must be a capital letter (control)
		</ng-template>
	</std-input>
	<std-input [formControl]="firstName" label="Last name">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 2">
	</std-input>
	<std-input [formControl]="lastName" label="Last name 3">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 4">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 5">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 6">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 7">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 8">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 9">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 10">
	</std-input>
	<std-input [formControl]="firstName" label="Last name 11">
	</std-input>
	<std-radiobutton-group [formControl]="gender" label="Gender">
		<ng-template std-radiobutton="male">
			Male
		</ng-template>
		<ng-template std-radiobutton="female">
			Female
		</ng-template>
		<ng-template std-radiobutton="other">
			Other
		</ng-template>
	</std-radiobutton-group>
	<std-input [formControl]="email" label="Email">
		<ng-template std-error="uniqueEmail" let-data="data">
			Email address '{{ data }}' already in use!
		</ng-template>
	</std-input>
	<std-action-bar>
		<std-save-button (action)="onSaveAction()" (save)="onSave($event)">
			Save
		</std-save-button>
		<std-action-button (action)="onCancelAction()">
			Cancel
		</std-action-button>
	</std-action-bar>
	<ng-template std-error="startsWithCapitalLetter">
		First character must be a capital letter (form)
	</ng-template>
</std-form>